@model IEnumerable<Kvotesystemet.Models.TblMaterialMaster>

@{
    ViewData["Title"] = "Index";
}

<br />
<form asp-controller="TblMaterialMasters" asp-action="Index" method="get">
    <p>
        Varenummer: <input type="text" name="varenr" size="10">
        <input type="submit" value="Søk" />
        Varenavn: <input type="text" name="varenvn" size="25">
        <input type="submit" value="Søk" />
    </p>
</form>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" cellspacing="0" cellpadding="3" rules="all" style="background-color:White;border-color:#CCCCCC;border-width:1px;border-style:None;width:1300px;border-collapse:collapse;">
        <thead>
            <tr style="color:White;background-color:#006699;font-weight:bold;">
                <th>
                    @Html.DisplayNameFor(model => model.Bsp1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tekst)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IkkeTillatt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Øl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bsp1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tekst)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IkkeTillatt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Øl)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Bsp1">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
