@model Kvotesystemet.Models.TblKvotedefinisjoner

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblKvotedefinisjoner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Øl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Øl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gratis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gratis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpsizeTs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpsizeTs)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Kvote" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
